<h1>All URLs</h1>

<a href="/urls/new">Add new URL</a>
<a href="/">Back to home</a>

<% urls.forEach(url => { %>
  <h2><a href="/urls/<%= url._id %>"><%= url.url %></a></h2>

  <p>Media: <%= url.media.title %></p>

  <p>Spoiler: <%= url.spoiler.title %></p>

  <p>Description: <%= url.description || 'N/A' %></p>
<% }); %>
