<!DOCTYPE html>
<html>
<head>
    <title>URLs</title>
</head>
<body>
    <h1><%= url.url %></h1>

    <h2>Media: <%= url.media.title %></h2>

    <h2>Spoiler: <%= url.spoiler.description %></h2>

    <h2>Description: <%= url.description || 'N/A' %></h2>

    <a href="/urls/<%= url._id %>/edit">Edit</a>
    <form action="/urls/<%= url._id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>
</body>
</html>