<!DOCTYPE html>
<html>
<head>
  <title>Edit Spoiler</title>
  <script>
    function updateParts(mediaId, selectedPart) {
      const mediaWithParts = JSON.parse('<%= JSON.stringify(mediaList.filter(media => media.parts.length > 0)) %>');
      const selectedMedia = mediaWithParts.find(media => media._id === mediaId);
      const partSelect = document.getElementById('part');

      // Clear previous options
      while (partSelect.firstChild) {
        partSelect.removeChild(partSelect.firstChild);
      }

      // Always add 'Entire Media' option
      const entireMediaOption = document.createElement('option');
      entireMediaOption.text = 'Entire Media';
      entireMediaOption.value = '';
      partSelect.appendChild(entireMediaOption);

      if (selectedMedia) {
        selectedMedia.parts.forEach(part => {
          const option = document.createElement('option');
          option.text = part.title;
          option.value = part._id;
          if (part._id === selectedPart) {
            option.selected = true;
          }
          partSelect.appendChild(option);
        });
      }
    }

    window.onload = function() {
      updateParts('<%= spoiler.media._id %>', '<%= spoiler.part ? spoiler.part._id : '' %>');
    }
  </script>
</head>
<body>
  <h1>Edit Spoiler</h1>
  <form action="/spoilers/<%= spoiler._id %>?_method=PUT" method="POST">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" value="<%= spoiler.title %>"><br>
    <label for="intensity">Intensity:</label><br>
    <select id="intensity" name="intensity">
      <option value="No Spoilers" <% if (spoiler.intensity === 'No Spoilers') { %>selected<% } %>>No Spoilers</option>
      <option value="Story Beats/Mild Spoilers" <% if (spoiler.intensity === 'Story Beats/Mild Spoilers') { %>selected<% } %>>Story Beats/Mild Spoilers</option>
      <option value="Major Spoilers" <% if (spoiler.intensity === 'Major Spoilers') { %>selected<% } %>>Major Spoilers</option>
    </select><br>
    <label for="reference">Reference:</label><br>
    <input type="text" id="reference" name="reference" value="<%= spoiler.reference %>"><br>
    <input type="hidden" id="mediaId" name="mediaId" value="<%= spoiler.media._id %>"><br>
    <label for="part">Part:</label><br>
    <select id="part" name="partId">
        <option value="">Entire Media</option>
    </select> 
    <input type="submit" value="Submit">
  </form>
</body>
</html>
