<!DOCTYPE html>
<html>
<head>
  <title>Edit Spoiler</title>
  <script>
    window.onload = function() {
      // Preselect the appropriate part
      const selectedPartId = '<%= spoiler.part ? spoiler.part._id : '' %>';
      const partSelect = document.getElementById('part');
      for(let i=0; i < partSelect.options.length; i++) {
        if(partSelect.options[i].value === selectedPartId) {
          partSelect.options[i].selected = true;
          break;
        }
      }
    }
  </script>
</head>
<body>
  <h1>Edit Spoiler</h1>
  <form action="/spoilers/<%= spoiler._id %>?_method=PUT" method="POST">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" value="<%= spoiler.title %>"><br>
    <label for="intensity">Intensity:</label><br>
    <select id="intensity" name="intensity">
      <option value="No Spoilers" <% if (spoiler.intensity === 'No Spoilers') { %>selected<% } %>>No Spoilers</option>
      <option value="Story Beats/Mild Spoilers" <% if (spoiler.intensity === 'Story Beats/Mild Spoilers') { %>selected<% } %>>Story Beats/Mild Spoilers</option>
      <option value="Major Spoilers" <% if (spoiler.intensity === 'Major Spoilers') { %>selected<% } %>>Major Spoilers</option>
    </select><br>
    <label for="reference">Reference:</label><br>
    <input type="text" id="reference" name="reference" value="<%= spoiler.reference %>"><br>
    <input type="hidden" id="mediaId" name="mediaId" value="<%= spoiler.media._id %>"><br>
    <label for="part">Part:</label><br>
    <select id="part" name="partId">
        <option value="">Entire Media</option>
        <% spoiler.media.parts.forEach(part => { %>
          <option value="<%= part._id %>"><%= part.title %></option>
        <% }); %>
    </select> 
    <input type="submit" value="Submit">
  </form>
</body>
</html>
