<!DOCTYPE html>
<html>
<head>
  <title>Spoiler Wiki</title>
</head>
<body>
  <h1>Spoiler Wiki</h1>
  Add:
  <a href="/media/new">[Media]</a>
  <a href="/spoilers/new">[Spoiler]</a>
  <a href="/urls/new">[URL]</a>
  <br>
  View all:
  <a href="/media">[Media]</a>
  <a href="/spoilers">[Spoiler]</a>
  <a href="/urls">[URL]</a>
  <% mediaList.forEach(media => { %>
    <p>
      <a href="/media/<%= media._id %>"><%= media.title %></a> (<%= media.type %>)
      <a href="/media/<%= media._id %>/edit">[Edit]</a>
      <a href="/media/<%= media._id %>/delete">[Delete]</a>
    </p>
    <% media.spoilers.forEach((spoiler, index, spoilersArr) => { %>
      <p style="margin-left: 20px;">
        <%= (index === spoilersArr.length - 1) ? '└───' : '├───' %><a href="/spoilers/<%= spoiler._id %>"><%= spoiler.title %></a>(<%= spoiler.intensity %>)
      </p>
      <% spoiler.urls.forEach((url, index, urlsArr) => { %>
        <p style="margin-left: 40px;">
          <%= (index === urlsArr.length - 1) ? '└───' : '├───' %><a href="/urls/<%= url._id %>"><%= url.url %></a>
        </p>
      <% }) %>
    <% }) %>
  <% }) %>
</body>
</html>
